[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target

[Service]
Type=forking
User=html
PIDFile=<workdir>/nginx/nginx.pid
PrivateDevices=yes
SyslogLevel=err

ExecStart=/usr/bin/nginx -p. -c nginx.conf
ExecReload=/usr/bin/nginx -p. -c nginx.conf -s reload
KillSignal=SIGQUIT
KillMode=mixed
WorkingDirectory=<workdir>

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
