[Unit]
Description=forward port via ssh tunnel
After=network.target

[Service]
Type=simple
User=<user>
ExecStart=/usr/bin/zsh /usr/bin/port-forward.sh --port-config /etc/port-forward/%i.config --verbose
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
