# if forward=-L (local, the local_addr is bind_address)
#    local_port ?= remote_port
#    remote_addr ?= localhost
#    -L [local_addr:][local_port:][remote_addr:]remote_port
# if forward=-R (remote, the remote_addr is bind_address)
#    remote_port ?= local_port
#    local_addr ?= localhost
#    -R [remote_addr:][remote_port:][local_addr:]local_port
forward=remote
local_port=80
#local_addr=localhost
remote_port=8080
#remote_addr=*

target_host=user@example.com
# `-i $identity_file`
identity_file=/etc/ssh/id_rsa
# `-p $target_port`
#target_port=22

other_arguments="-nNT" # or seperate `(-n -N -T)`

# any option would convert to `-o "CamelCaseWord value"`
other_options=(
#ServerAliveCountMax=3
#ServerAliveInterval=60
ExitOnForwardFailure=yes
)
